* {
	padding:0;
	margin:0;
}

a { text-decoration:none; color:#77a; border-bottom: 1px #77a dotted; }
a:hover { color:#333; border-bottom: none; }

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color:#ddd;
}

form {
	font-size:.8em;
	background-color:#ddd;
	border:1px #bbb solid;
	padding:1em;
	margin:10px 32px;
}

#masthead {
	display:block;
	width:750px;
	height:255px;
	background:transparent url(../_images/gp_v2.jpg) no-repeat;
	text-indent:-5000px;
}

#nav {
	float:right;
	color:white;
	margin-top:-135px;
	padding-right:1.5em;
	font-family:impact;
	font-size:1.3em;
}

#nav li {
	float:left;
	margin:0 .7em;
	list-style-type:none	;
}

#nav li a { border:none; color: white; text-decoration:none; }
#nav li a:hover { color: #aaa; text-decoration:none; }


#wrap {
	width:750px;
	margin:0 auto;
	margin-top:20px;
	border:1px #bbb solid;
	background-color:white;
}

#container {
	position:relative;
	float:left;
	width:750px;
	margin-top:-90px;
	min-height:300px;
	color: #555;
}

#container h2 {
	font-size:.95em;
	color:#333;
	padding:0 27px;
	padding-bottom:.5em;
}

#container h3 {
	font-size:.85em;
	color:#444;
	margin:0 35px;
	padding-bottom:.5em;
	border-bottom:1px #aaa solid;
}

#container p {
	text-align:justify;
	font-size:.85em;
	padding:.5em 32px;
}

#secondary-content {
	float:right;
	width:250px;
}

#secondary-content ol li {
	line-height:1.5em;
	list-style-type:none;
	margin-left:55px;
	font-size: .8em;
}

#secondary-content p .note {
	padding-left:55px;
}

#primary-content {
	float:left;
	width:500px;
}

#primary-content p {
	border-right: 1px #bbb solid;	
}

#foot {
	clear:left;
	margin-top:30px;
	padding:10px;
	font-size:.6em;
	color:#999;
	text-align:center;
}

#primary-content form p {
	margin:0;
	padding:0 0 5px 0;
	border-width:0;
}

.input, textarea { width:100%;}